---
import { SITE } from "$/config";
import ModeLabel from "./ModeLabel.svelte";
import NetlifyIdentity from "./NetlifyIdentity.svelte";
---

<footer class="footer">
  <nav class="nav">
    <div>{`${new Date().getFullYear()}`} &copy; Copyright stock.956.icu Powered By <a href="https://blog.956.icu" target="_blank">X-Blog</a>. <a href="https://stock.956.icu/sitemap-index.xml" target="_blank">Sitemap</a></div>
    <NetlifyIdentity client:load />
  </nav>
</footer>
<style>
  .footer {
    @apply py-6 border-t text-center;
  }
</style>
